<nav class="navbar navbar-expand-lg navbar-dark bg-dark">

    <a class="navbar-brand" href="#">Brynn Robenstein</a>

    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a href="/" class="nav-link">Home</a>
      </li>
    </ul>


    <% if user_signed_in? %>
      <div class="navbar-nav ml-auto">
        <%= button_to "Log out", destroy_user_session_path, method: :delete, :class => "btn btn-primary ml-2" %>
        <%= button_to "New Project", new_project_path, method: :get, :class => "btn btn-secondary ml-2" %>
      </div>
    <% end %>

    <% if !user_signed_in? %>
      <div class="navbar-nav ml-auto">
        <%= button_to "Login", new_user_session_path, method: :get, :class => "btn btn-primary ml-2" %>
        <%= button_to "Sign up", new_user_registration_path, method: :get, :class => "btn btn-success ml-2" %>
      </div>
    <% end %>
</nav>


<div class="container mt-4">
  <h1 class="text-center">Create New Project</h1>
  <%= render 'form', project: @project, :id => "form1" %>
</div>
